<div class="add-movie-form-container">
  <h2 class="text-center mb-4">Add Movie</h2>

  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
        rows="5"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="genre">Genre:</label>
      <input
        type="text"
        id="genre"
        formControlName="genre"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="yr">Year:</label>
      <input type="number" id="yr" formControlName="yr" class="form-control" />
    </div>

    <div class="text-center mt-3">
      <button type="submit" class="btn btn-success">Add Movie</button>
    </div>
  </form>
</div>
